<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Just a Razor test</title>
</head>
<body>
    <h1>Razor Test</h1>
    <p>@Model.Test</p>
</body>
</html>